@using Identity.Areas.Admin.Models.Account
@model AccountLoginVM
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up / Login Form</title>
    <link rel="stylesheet" href="~/assets/style.css">
</head>
<body>
    <div class="main">
        <div class="signup" style="margin-top: 150px;">
            <form asp-action="Login" asp-controller="Account" asp-area="Admin" method="post">
                <label for="chk" aria-hidden="true">Login</label>
                <input asp-for="Email" placeholder="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>

                <input asp-for="Password" placeholder="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>

                <button type="submit" asp-action="Login" asp-controller="Account" asp-area="Admin">Login</button>
            </form>
         
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation-unobtrusive@3.2.12/dist/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
